DB_HOST=localhost
DB_PORT=3306
DB_NAME=DisplayU
DB_USERNAME=your-db-username
DB_PASSWORD=your-db-password

KAKAO_CLIENT_ID=your-kakao-client-id

GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

JWT_SECRET=your-jwt-secret

MAIL_USERNAME=your-mail-account
MAIL_PASSWORD=your-mail-password

DISPLAY_INVITATION_BASE_URL=https://displayu.co.kr/display/invitation
