DB_HOST=localhost
DB_PORT=3306
DB_NAME=DisplayU
DB_USERNAME=DisplayUser
DB_PASSWORD=your-db-password

KAKAO_CLIENT_ID=66d653e0c962e22957912da1c20c155f

GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

JWT_SECRET=your-jwt-secret

MAIL_USERNAME=displayu.official@gmail.com
MAIL_PASSWORD=pgqc knzc svmd zgbh